{% extends "base.html" %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if task_list|length > 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    {% for tasks in task_list %}
                        <tbody>
                            <tr>
                                <td>{{ tasks.name }}</td>
                                <td>{{ tasks.start_date|date:"m-d-Y" }}</td>
                                <td>{{ tasks.due_date|date:"m-d-Y" }}</td>
                                {% if tasks.is_completed == True %}
                                    <td>Done</td>
                                {% else %}
                                    <td>
                                        <form method="post" action="{% url 'complete_task' tasks.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="is_completed" value="True"/>
                                            <button>Complete</button>
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
